# This systemd service will be patched by setup script. DO NOT CHANGE IT!
[Unit]
Description=Script runs video server on your raspberry
After=network.target

[Service] 
# TODO add dynamic project resolution
ExecStart=/usr/bin/python3 /home/sasuke/camera_test/video_server.py
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
